body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    box-sizing: border-box;
}

.login-container h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.login-form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.login-form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-container input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button-container {
    text-align: center;
    margin-top: 1.5rem;
}

.login-container button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
    padding: 0.5rem 0;
}

.login-links {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.login-links p,
.login-links a {
    font-size: 0.8rem;
    margin: 0;
}

.login-links a {
    color: #007bff;
    text-decoration: none;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .login-container {
        padding: 1rem;
        width: 90%;
        margin: 20px auto;
    }

    body {
        height: auto;
    }
}
